*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  /* height: 100vh; */
}
div#root{
  width: 100vw;
  height: 100vh;

}

.App {
  /* width: 80vw;
  height: 80vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top:2rem ;
  margin: 1rem auto auto;
  
}
.App h1{
  margin: 1rem auto 1rem;
}




tr{
  border-collapse: collapse;
  border: 2px solid rgb(58, 54, 54);
  padding: 8px;
  margin-top: 20px;
}

/* MEDIA QEURIES */



@media (min-width:576px){
  .App{
    width:80vw;
    margin: 0.5rem auto auto;
  }
  .App h1{
    text-align: center;
  }
.info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr ;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 1rem auto 1rem; 
}

  .info input{

    font-size: 1rem;
    padding-left: 10px;
    color: #727272;
    border-radius:8px ;
    border-color: #b92020 !important;
    padding: 10px;
  }
  .info input[id=wage]{
     
     grid-column: 1/2;
  }
  
   button{
    outline: none;
    border: none;
    border-radius: 8px;
    color: #fff;
    padding: 15px;
  }

   button:hover{
    cursor: pointer;
    background-color: rgb(107, 106, 106);
  }
  .App button{
      width: 25%;
      background-color: rgb(184, 9, 38); 
  }
  .App > button{
    margin: 0.2rem auto 1rem;
    
  }
  .users > button{
     margin-top: 10px;
     background-color: rgb(27, 12, 95); 
  }
  table{
    margin: auto;
    width: 70%;
    border: 1px solid black;
    padding: 25px;
  }
  .users{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* overflow-x: auto; */
  }
  .users button{

  }
  .user{
    margin-top: 10px;
    width: 100%;
    padding: 15px;
  }
  .userTable{
     
     
    /* padding: 25px; */
    width:100%;
    
  } 
  td{
    text-align: center;
    padding: 8px;
    margin-right: 2rem;
  }
  

}

@media (max-width:576px){
  .App{
    margin: 0.5rem auto auto;
  }
  .App h1{
    font-size:1.5em;
    text-align: center;

  }
.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .info input{
    width:84% ;
    /* height: 36px; */
    font-size: 0.7rem;
    padding-left: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #727272;
    border-radius:8px ;
    border-color: #b92020 !important;
    margin-top: 5px;
    margin-bottom: 2px;
  }
   button{
    outline: none;
    border: none;
    border-radius: 8px;
    width: 84%;
    /* height: 36px; */
    color: #fff;
    margin-top: 15px;
    font-size: 1rem;
    padding:15px;
  }
  .App > button{
    margin: 1rem auto 1rem;
    background-color: rgb(184, 9, 38); 
  }
  .users > button{
     margin-top: 10px;
     background-color: rgb(27, 12, 95); 
  }
  table{
    margin: auto;
    width: 70%;
    border: 1px solid black;
    padding: 15px;
  }
  .users{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: auto;
  }
  .user{
  
    margin-top: 10px;
    text-align: center;
  }
  td{
    text-align: left;
    padding: 8px;
  }

}
