*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.users button{
  margin-top: 30px !important;
}
table{
  width: 50%;
}
tr,td{
  border-collapse: collapse;
  border-bottom: 1px solid grey;
  padding: 8px;
}
/* MQs */



@media (min-width:768px){

  .info input{
  
    width:16.66% ;
    /* height: 36px; */
    font-size: 1rem;
    padding-left: 10px;
    color: #727272;
    border-radius:8px ;
    border-color: #b92020 !important;
    margin-top: 5px;
    margin-bottom: 2px;
    padding: 10px;
  }
  
   button{
    outline: none;
    border: none;
    border-radius: 8px;
    width: 16.66%;
    /* height: 48px; */
    color: #fff;
    background-color: rgb(12, 95, 95);
    margin-top: 15px;
    padding: 15px;
  }

   button:hover{
    cursor: pointer;
    background-color: rgb(107, 106, 106);
  }
  .users{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* overflow-x: auto; */
  }
  .user{
    width: 100%;
  }
  .userTable{
     
     
     align-items: center;
    width:100%;
    
  } 
  td{
    text-align: left;
    padding: 8px;
  }

}

@media (max-width:576px){

  .info input{
    width:84% ;
    /* height: 36px; */
    font-size: 0.7rem;
    padding-left: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #727272;
    border-radius:8px ;
    border-color: #b92020 !important;
    margin-top: 5px;
    margin-bottom: 2px;
  }
   button{
    outline: none;
    border: none;
    border-radius: 8px;
    width: 84%;
    /* height: 36px; */
    color: #fff;
    background-color: rgb(12, 95, 95);
    margin-top: 15px;
    font-size: 1rem;
    padding:15px;
  }
  .users{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: auto;
  }
  td{
    text-align: left;
    padding: 8px;
  }

}
